{% extends 'base.html' %}

{% block content %}
<div class="row row-cols-4">
    <!--    TASK 1    -->
    <div class="col mb-4">
        <div class="card">
            <div class="card-header">
                <a href="#">
                    <h5 class="card-title">< Task name ></h5>
                </a>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <strong>Status:</strong>
                    <span class="badge bg-primary">< status ></span>
                </p>
                <p class="card-text"><strong>Description:</strong> < description ></p>
            </div>
        </div>
    </div>
    <!--    TASK 2    -->
    <div class="col mb-4">
        <div class="card">
            <div class="card-header">
                <a href="#">
                    <h5 class="card-title">< Task name ></h5>
                </a>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <strong>Status:</strong>
                    <span class="badge bg-primary">< status ></span>
                </p>
                <p class="card-text"><strong>Description:</strong> < description ></p>
            </div>
        </div>
    </div>
</div>


{% endblock %}